<div class="container-fluid my-5 py-5">
  <div class="container-fluid my-5 py-5">
    <div class="row">
      <div *ngIf="products.length === 0" class="alert alert-danger">
        No products found
      </div>
      <div *ngFor="let product of products" class="col-3">
        <div class="card mb-3">
          <a routerLink="/products/{{ product.id }}">
            <img
              [src]="product.imageUrl"
              [alt]="product.imageUrl"
              class="card-img-top"
              style="width: 150px"
            />
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a routerLink="/products/{{ product.id }}">
                {{ product.name }}
              </a>
            </h4>
            <p class="card-text">
              {{ product.unitPrice | currency : "INR" }}
            </p>
            <button class="btn btn-primary btn-sm" (click)="addToCart(product)">
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
